/* 
    Document   : result
    Created on : 23/03/2010, 4:27:02 PM
    Author     : Zifei
    Description:
        Purpose of the stylesheet follows.
*/
/*logo*/
#logo{
    width: 320px;
    height:42px;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#logo img{
    border: none;
}

#content{
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    border: 1px solid #555;
    background-color: #eee;
    padding: 10px;
    text-align: left;
}

#wsdl{
    margin-top: 20px;
    font-size: 12px;
    font-weight: 700;
}
#title{
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
}
